.header-jumbo
  <h1> Publications <small> :: Also available via <a href="http://scholar.google.com/citations?user=QgDpfCQAAAAJ&hl=en">Google Scholar</a>.</small></h1>

  %ul.list-inline
    %li
      %a{:href => "#conference"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Conference
    %li
      %a{:href => "#journals"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Journals
    %li
      %a{:href => "#workshop"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Workshop
    %li
      %a{:href => "#chapters"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Chapters
    %li
      %a{:href => "#tutorials"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Tutorials
    %li
      %a{:href => "#thesis"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Thesis

%hr.featurette-divider

<p>For working papers, please email me at <code>john@cs.umd.edu</code> or check out <a href="https://arxiv.org/search/?searchtype=author&query=Dickerson%2C+J+P">arXiv</a> for public drafts.</p>

/= render(:haml,:'pub_section',:locals => { |
/:aname => "working", |
/:parity => :left, |
/:header => "Working papers", |
/:include_links => true, |
/:pub_map => { |
/"Working" => ['Durvasula19:Bayesian','McElfresh19:Ethics','Plaut16:Hardness','Rosemarin17:Learning','Brubach19:Pairwise','Brubach19:General','Schumann19:Group'], |
/}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "conference", |
:parity => :left, |
:header => "Conference papers", |
:include_links => true, |
:pub_map => { |
  "2021" => ['Peri21:PreferenceNet','Esmaeili21:Fair','Li21:How','Ding21:VQGNN','Nanda21:Fairness','Cherepanova21:LowKey','Raman21:Data-Driven','Brubach21:Fairness','Aziz21:Optimal','McElfresh21:Indecision','Christia21:Scalable','Schwarzschild21:Measuring'], |
  "2020" => ['McElfresh20:Matching','Chiang20:Detection','Curry20:Certifying','Esmaeili20:Probabilistic','McElfresh20:Improving','Brubach20:Pairwise','Saha20:Measuring','Bidkhori20:Kidney','Ahmadi20:Algorithm','Shafahi20:Universal','Nanda20:Balancing','Chan20:ArtificialAIES'], |
  "2019" => ['Curry19:Mix','Schumann19:Making','Shafahi19:Adversarial','McElfresh19:Scalable','Dickerson19:Balancing','Xu19:Unified','Schumann19:Diverse','Dickerson19:Online','Shafahi19:Logit-Similarity'], |
  "2018" => ['McElfresh18:Balancing','Freedman18:Adapting','Dickerson18:Allocation','Li18:Equilibrium','Dickerson18:Assigning','Redmiles18:Dancing'], |
  "2017" => ['Dickerson17:Small','Farina17:Operation','Ahmed17:Diverse'], |
  "2016" => ['Plaut16:Fast', 'Dickerson16:Position'], |
  "2015" => ['Blum15:Ignorance', 'Dickerson15:FutureMatch', 'Hajaj15:Strategy', 'Das15:Competing'], |
  "2014" => ['Dickerson14:Price', 'Dickerson14:Computational', 'Dickerson14:Multi', 'Dickerson14:Using', 'Erickson14:Endogenously'], |
  "2013" => ['Dickerson13:Failure', 'Dickerson13:PREVE'], |
  "2012" => ['Dickerson12:Dynamic', 'Dickerson12:Optimizing'], |
  "2010" => ['Dickerson10:Graph', 'Simari10:Cost-based'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "journals", |
:parity => :left, |
:header => "Journal articles", |
:include_links => true, |
:pub_map => { |
  "2021" => ['Dickerson21:Allocation'], |
  "2020" => ['Freedman20:Adapting','Blum20:Ignorance','Ahmed20:Forming'], |
  "2019" => ['Dickerson19:FailureMS'], |
  "2018" => ['Doebel18:Using'], |
  "2017" => ['Dickerson17:MultiJAIR'], |
  "2015" => ['Sawant15:Automated', 'Erickson15:Endogenously'], |
  "2013" => ['Simari13:Abductive', 'Fisher13:Assessing'], |
  "2012" => ['Shakarian12:Adversarial','Patro12:Speeding'], |
  "2009" => ['Subrahmanian09:What'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "workshop", |
:parity => :left, |
:header => "Workshop, smaller conference, &amp; earlier-stage papers", |
:include_links => true, |
:pub_map => { |
  "2021" => ['Verma21:Generating','Verma21:CounterfactualHCXAI','Nanda21:LearningHCXAI','Durvasula21:BayesianAIPH'], |
  "2020" => ['Zhao20:Clearing','Nanda20:BalancingAIES','McElfresh20:Can','Saha20:HumanAIES','Raman20:Data-Driven','Curry20:CertifyingWS','Verma20:Counterfactual'], |
  "2019" => ['Curry19:Reinforcement','McElfresh19:MatchingIJCAI','McElfresh19:MatchingMD4SG','Schumann19:GroupWorkshop',], |
  "2018" => ['Cui18:Muffin','McElfresh18:BalancingW3PHI'], |
  "2017" => ['Dickerson17:SmallAIORSocGood','Farina17:InterAIORSocGood','Farina17:Multiple','Schumann17:DiverseWiML','Schumann17:DiverseAlignedAI'], |
  "2016" => ['Dickerson16:SmallEXPLORE'], |
  "2015" => ['Dickerson15:Uncertainty'], |
  "2014" => ['Dickerson14:Balancing','Dickerson14:ComputationalEXPLORE','Dickerson14:Empirical','Dickerson14:Robust'], |
  "2013" => ['Dickerson13:Throwing',  'Dickerson13:ThrowingLBP', 'Dickerson13:Liver'], |
  "2011" => ['Dickerson11:Dealing'], |
}}) |


%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "chapters", |
:parity => :left, |
:header => "Books &amp; book chapters", |
:include_links => true, |
:pub_map => { |
  "2020" => ['McElfresh20:CanChapter'], |
  "2013" => ['Dickerson13:Using', 'Simari13:Policy'], |
  "2012" => ['Subrahmanian12:Computational', 'Shakarian12:Geospatial'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "tutorials", |
:parity => :left, |
:header => "Invited &amp; refereed tutorials", |
:include_links => true, |
:pub_map => { |
  "2021" => ['Dickerson21:Publishing'], |
  "2020" => ['Ahmed20:OptimizationAAAI'], |
  "2019" => ['Das19:OptimizationAAMAS','Dickerson19:SomeCED'], |
  "2016" => ['Dickerson16:OrganTutorial'], |
  "2018" => ['Dickerson18:EthicalCMMRS'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "thesis", |
:parity => :left, |
:header => "Thesis", |
:include_links => true, |
:pub_map => { |
  "2016" => ['Dickerson16:Unified'], |
  "2015" => ['Dickerson15:Unified'], |
}}) |

%hr.featurette-divider
