.header-jumbo
  <h1> Publications <small> :: Also available via <a href="http://scholar.google.com/citations?user=QgDpfCQAAAAJ&hl=en">Google Scholar</a>.</small></h1>
  
  %ul.list-inline
    %li 
      %a{:href => "#conference"} 
        %span.glyphicon.glyphicon-circle-arrow-down
        Conference
    %li
      %a{:href => "#journals"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Journals
    %li
      %a{:href => "#workshop"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Workshop
    %li 
      %a{:href => "#chapters"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Book Chapters
    %li
      %a{:href => "#thesis"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Thesis      
    %li
      %a{:href => "#invited"}
        %span.glyphicon.glyphicon-circle-arrow-down
        Invited Talks
    %li
      %a{:href => "#other"} 
        %span.glyphicon.glyphicon-circle-arrow-down
        Other


%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "conference", |
:parity => :left, |
:header => "Conference papers", |
:include_links => true, |
:pub_map => { |
  "2016" => ['Plaut16:Fast'], |
  "2015" => ['Blum15:Ignorance', 'Dickerson15:FutureMatch', 'Hajaj15:Strategy', 'Das15:Competing'], |
  "2014" => ['Dickerson14:Price', 'Dickerson14:Computational', 'Dickerson14:Multi', 'Dickerson14:Using', 'Erickson14:Endogenously'], |
  "2013" => ['Dickerson13:Failure', 'Dickerson13:PREVE'], |
  "2012" => ['Dickerson12:Dynamic', 'Dickerson12:Optimizing'], |
  "2010" => ['Dickerson10:Graph', 'Simari10:Cost-based'], | 
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "journals", |
:parity => :left, |
:header => "Journal articles", |
:include_links => true, |
:pub_map => { "Working" => ['Dickerson15:FailureMS', 'Dickerson15:PriceAIJ', 'Dickerson15:DynamicMP'], |
  "2015" => ['Dickerson15:MultiJAIR', 'Sawant15:Automated', 'Erickson15:Endogenously'], |
  "2013" => ['Simari13:Abductive', 'Fisher13:Assessing'], |
  "2012" => ['Shakarian12:Adversarial','Patro12:Speeding'], |
  "2009" => ['Subrahmanian09:What'], | 
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "workshop", |
:parity => :left, |
:header => "Workshop and smaller conference papers", |
:include_links => true, |
:pub_map => { |
  "2015" => ['Dickerson15:Uncertainty'], |
  "2014" => ['Dickerson14:Balancing','Dickerson14:ComputationalEXPLORE','Dickerson14:Empirical','Dickerson14:Robust'], |
  "2013" => ['Dickerson13:Throwing',  'Dickerson13:ThrowingLBP', 'Dickerson13:Liver'], |
  "2011" => ['Dickerson11:Dealing'], |
}}) |
 

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "chapters", |
:parity => :left, |
:header => "Books &amp; book chapters", |
:include_links => true, |
:pub_map => {"2013" => ['Dickerson13:Using', 'Simari13:Policy'], |
  "2012" => ['Subrahmanian12:Computational', 'Shakarian12:Geospatial'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "thesis", |
:parity => :left, |
:header => "Thesis", |
:include_links => true, |
:pub_map => {"2015" => ['Dickerson15:Unified'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "invited", |
:parity => :left, |
:header => "Invited talks", |
:include_links => false, |
:pub_map => { |
  "2015" => ['Dickerson15:NearINFORMS', 'Dickerson15:DynamicsPOMS','Dickerson15:CombiningISMP','Dickerson15:CombiningINFORMSHC','Dickerson15:KidneyCMU'], |
  "2014" => ['Dickerson14:FutureINFORMS', 'Dickerson14:FutureDBSeminar'], |
  "2013" => ['Dickerson13:FailureTsinghua', 'Dickerson13:FailureINFORMS', 'Dickerson13:KidneyCMU'], |
  "2012" => ['Dickerson12:DynamicINFORMS', 'Dickerson12:OptimizingINFORMS'], |
}}) |

%hr.featurette-divider

= render(:haml,:'pub_section',:locals => { |
:aname => "other", |
:parity => :left, |
:header => "Other publications and presentations", |
:include_links => false, |
:pub_map => { |
  "2015" => ['Erickson15:Different'], |
  "2014" => ['Dickerson14:TowardWTC', 'Dickerson14:PriceWTC', 'Dickerson14:FutureMatchWTC'], |
  "2013" => ['Fisher13:Development', 'Dickerson13:LiverINFORMS', 'Dickerson13:LiverATC', 'Dickerson13:FailureATC', 'Dickerson13:OptimizingATC'], |
  "2012" => ['Thiessen12:Eyes'], |
  "2009" => ['Vargas-Baron09:Country'], |
  "2008" => ['Blusewicz08:Classification'], |
  }}) |

%hr.featurette-divider
